html, body {
    height: 100%;
}
body {
    background: #fff url(../img/bg.png);
    height: 100%;
}
.b-nav {
    background: #440404;
    border-radius: 0;
    border: none;
    position: relative;
    margin-bottom: 0;
}
.navbar-right {
    text-align: right;
}
.b-addthis {
    margin-left: 110px;
    margin-top: 16px;
}
.b-photo {
    max-width: 100%;
}
.b-main {
    min-height: 200px;
}
.b-logo {
    background: url(../img/logo_sm.png) no-repeat;
    width: 85px;
    height: 99px;
    position: absolute;
    display: block;
    left: 10px;
    z-index: 100;
}
.b-photocontainer {
    position: relative;
}
.b-phone {
    position: absolute;
    font-size: 2.5em;
    color: #fff;
    padding: .25em 1em;
    top: 20px;
    right: 20px;
    font-family: Arial;
    font-weight: bold;
    background: #933;
    text-align: right;
}
.b-address {
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    padding: .25em 1em;
    top: 110px;
    right: 20px;
    font-family: Arial;
    font-weight: bold;
    background: #933;
    text-align: right;    
}
.b-promo {
    background: #000 url(../img/logo_white.png) 100px 20px no-repeat;
    color: #fff;
    padding-left: 270px;
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-right: 60px;
    font-size: 1.25em;
}
.b-section {
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: hidden;
}
.b-section__bottle {
    position: relative;
    min-height: 470px;
}
.b-bottle {
    position: absolute;
    z-index: 3;
    background: url(../img/bottle_mask_sm.png) no-repeat;
    width: 184px;
    height: 470px;
}
.b-bottle__label {
    width: 114px;
    height: 153px;
    position: absolute;
    z-index: 2;
    top: 229px;
    left: 49px;
}
.b-bottle__label-bg {
    top: 0;
    left: 50%;
    position: absolute;
    z-index: 1;
    margin-left: -200px;
}
.b-section__title {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}
.b-section__title_second {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}
.b-section__text {
    font-size: 1.5em;
    color: #fff;
    padding-right: 40px;
}
.b-section__text-black {
    color: #000;
}
.b-footer {
    border-top: 10px solid #000;
    padding: 10px 20px 20px 20px;
    background: #440404;
    color: #caa;
}
