body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    height: 100%;
}
.b-loginbody {
    background: #eee;
    margin-top: 100px;
}
.b-adminbody {
    padding-top: 10px;
    background: #eee;
}
.b-loginform {
    padding: .5em 1em;
}
.b-btnpadded {
    margin-top: 8px;
}
.colorpicker {
    z-index: 10000;
}